*{
    font-size: 30px;
    font-family: Calibri;
    margin-top: 20px;
    margin-bottom: 10px;
}

body{
    background-color: #121B36;
}

.divMain{
    position: absolute;
    background-color: #F0C26B;
    top: 15%;
    bottom: 15%;
    left: 35%;
    right: 35%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
}

button{
    border: none;
    background-color: #5B5D71;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

#btnSignIn{
    position: absolute;
    left: 35%;
    right: 35%;
    margin-top: 50px;
}

.divMain>div:nth-child(1)>p>img{
    position: absolute;
    top: 3%;
    left: 11%;
    height: 100px;
}

.imgPadlock{
    position: absolute;
    left: 15%;
    height: 40px;
}

.imgEmail{
    position: absolute;
    left: 14%;
    top: 38%;
    height: 30px;
}

form{
    margin-top:100px;
}