<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{if .Files}}
	<link rel="stylesheet" href="styleView.css">
	{{else}}
	<style>
		h3{
			font-size: 56px;
			text-align: center;
		}
		input[type=button]{
			position: absolute;
			left:45%;
			right: 45%;
			top: 22%;
			bottom: 75%;
			border:none;
		}
	</style>
	{{end}}
	<title>Files</title>
</head>
<body>
	<form>
	<div class="header">
		<div class="btns">
			{{if .Files}}
			<button type="submit" formmethod="post" formaction="/user/downloadFile"><img src="/assets/download.png" height="25px" width="25px"></button>
			<button type="submit" formmethod="post" formaction="/user/deleteFile"><img src="/assets/delete.png" height="25px" width="25px"></button>
			<button type="button" id="btnInfo"><img src="/assets/info.png" height="25px" width="25px"></button>
			<a href="/user/uploadFile"><button type="button"><img src="/assets/upload.png" height="25px" width="25px"></button></a>
			{{end}}
		</div>
		<div class="user">
			<div>
				<span>{{.Email}}</span>
			</div>
			<img id="profileClick" src="/assets/user.png" width="50px" height="50px">
		</div>
	</div>
	<div class="main">
	{{if .Files}}
	<div class="files">
		{{range .Files}}
		<input type="checkbox" value="{{.}}" name="file" id="{{.}}"><label for="{{.}}"><img height="65px" width="50px">{{.}}</label><br/>
		{{end}}
	</div>
	<div class="properties" id="filesDiv">
		
	</div>
	{{else}}
	<h3>Your file repository is empty, start by uploading some files</h3><br/>
	<a href="/user/uploadFile"><input type="button" value="Upload"></a>
	{{end}}
</div>
</form>
<script>
	const fileData = new Map()
	{{range $index, $element := .FileData}}
		fileData.set({{$index}}, {{$element}})
	{{end}}

	const imgs = document.querySelectorAll(".files img")
	const checkboxes = document.querySelectorAll(".files input[type=checkbox]")
	console.log(checkboxes[0].value)
	let index = 0
	imgs.forEach(img => {
		let extension = fileData.get(checkboxes[index].value)[2].toUpperCase()
		console.log(extension)

		const imageEXT = "JPG,PNG,JPEG,GIF,SVG,BMP,PSD,ICO,WEBP,AI"
		const textEXT = "TXT,DOC,DOCX,CSV,PDF,ODT"
		const executableEXT = "EXE,MSI,JAR,BAT"
		const videoEXT = "MP4,AVI,MPG,MPEG" 
		const compressedEXT = "ZIP,7Z,RAR"
		const audioEXT = "MP3,WAV"
		const spreadsheetEXT = "XLS,XLCS"

		if(imageEXT.includes(extension)){
			img.src = "/assets/imgFile.png"
		}else if(textEXT.includes(extension)){
			img.src = "/assets/textFile.png"
		}else if(executableEXT.includes(extension)){
			img.src = "/assets/exeFile.png"
		}else if(videoEXT.includes(extension)){
			img.src = "/assets/videoFile.png"
		}else if(compressedEXT.includes(extension)){
			img.src = "/assets/compressedFile.png"
		}else if(audioEXT.includes(extension)){
			img.src = "/assets/audioFile.png"
		}else if(spreadsheetEXT.includes(extension)){
			img.src = "/assets/spreadsheetFile.png"
		}else{
			img.src = "/assets/file.png"
		}

		// switch(extension){
		// 	case "JPG":
		// 	case "PNG":
		// 	case "JPEG":
		// 	case "GIF":
		// 	case "SVG":
		// 	case "BMP":
		// 	case "PSD":
		// 	case "ICO":
		// 	case "WEBP":
		// 	case "AI":
		// 		img.src = "/assets/imgFile.png"
		// 		break;
		// 	case "TXT":
		// 	case "DOC":
		// 	case "DOCX":
		// 	case "CSV":
		// 	case "PDF":
		// 	case "ODT":
		// 		img.src = "/assets/textFile.png"
		// 		break; 
		// 	case "EXE":
		// 	case "MSI": 
		// 	case "JAR":
		// 	case "BAT":
		// 		img.src = "/assets/exeFile.png"
		// 		break; 
		// 	default:
		// 		img.src = "/assets/file.png"
		// }

		index++
	})
	
	profileClick.addEventListener('click', ()=>{
		document.querySelector(".properties").classList.remove('visible')
		document.querySelector(".files").classList.remove('widthChange')
		})

	btnInfo.addEventListener('click', ()=>{
		//range over selected checkboxes
		let list = document.querySelectorAll(".files input[type=checkbox]:checked")
		if(list.length>0){
			let properties = ["File Name: ", "Upload Date: ", "File Size: ", "File Type: "]
			list.forEach(e => {
				let temp = fileData.get(e.value)
				filesDiv.innerHTML += `</br><span>${properties[0]} <br/> &emsp;${e.value}</span></br>`
				temp.forEach((v,i) =>{
				filesDiv.innerHTML += `<span>${properties[i+1]} <br/> &emsp;${v}</span></br>`
			})
			filesDiv.innerHTML += `<br/><hr>`
		})
		
		

// 		list.forEach( item=>{
// 			let properties = ["File Name: ", "Upload Date: ", "File Size: ", "File Type: "]
//    const {value}=item;
//    const buff = fileData.get(value);
//   filesDiv.innerHTML+= `<span>${properties[0]} ${value}</span></br>`

// buff.slice(1,buff.length-1).forEach(item=> filesDiv.innerHTML += `<span>${item}</span></br>`);

// });

		if(!document.querySelector(".properties").classList.toggle('visible')){
			filesDiv.innerHTML = ""
		}
		document.querySelector(".files").classList.toggle('widthChange')
		}

		
	})
</script>
</body>
</html>